<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/inserir_cliente" method="post">
        <label for="nome">Nome:</label><br>
        <input type="text" id="nome" name="nome"><br>
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email"><br>
        <label for="cpf">CPF:</label><br>
        <input type="number" id="cpf" name="cpf"><br>
        <label for="telefone">Telefone:</label><br>
        <input type="tel" id="telefone" name="telefone"><br>
        <label for="tipo_deficiencia">Tipo de Deficiência:</label><br>
        <input type="text" id="tipo_deficiencia" name="tipo_deficiencia"><br>
        <input type="submit" value="Inserir Cliente">
    </form>
    
    
</body>
</html>