<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Visualização de Clientes</title>
</head>
<body>
    <h1>Lista de Clientes</h1>
    <table>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>CPF</th>
            <th>Telefone</th>
            <th>Tipo de Deficiência</th>
        </tr>
        {% for cliente in clientes %}
        <tr>
            <td>{{ cliente.nome }}</td>
            <td>{{ cliente.email }}</td>
            <td>{{ cliente.cpf }}</td>
            <td>{{ cliente.telefone }}</td>
            <td>{{ cliente.tipo_deficiencia }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
